In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
data2019_df = pd.read_csv(r"C:\Users\daric\Desktop\HAPPINESS\data_2019.csv", dtype=object, low_memory=False)

data2019_df.head()

,happiness_rank,country,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,government_corr,continent,family,population
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393,Europe,NaN,5532.159
1,2,Denmark,7.6,1.383,1.573,0.996,0.592,0.252,0.41,Europe,NaN,5771.877
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Europe,NaN,5378.859
3,4,Iceland,7.494,1.38,1.624,1.026,0.591,0.354,0.118,Europe,NaN,339.037
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Europe,NaN,17097.123

In [3]:
new_2019data_df = data2019_df[['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita','family', 'life_expectancy',
                                   'freedom', 'generosity','government_corr', 'social_support','continent','population']].copy()
new_2019data_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,social_support,continent,population
0,Finland,1,7.769,1.34,NaN,0.986,0.596,0.153,0.393,1.587,Europe,5532.159
1,Denmark,2,7.6,1.383,NaN,0.996,0.592,0.252,0.41,1.573,Europe,5771.877
2,Norway,3,7.554,1.488,NaN,1.028,0.603,0.271,0.341,1.582,Europe,5378.859
3,Iceland,4,7.494,1.38,NaN,1.026,0.591,0.354,0.118,1.624,Europe,339.037
4,Netherlands,5,7.488,1.396,NaN,0.999,0.557,0.322,0.298,1.522,Europe,17097.123

In [4]:
rds_connection_string = "postgres:postgres@localhost:5432/World Happiness DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
engine.table_names()

['clean_2016', 'clean_2017', 'clean_2018']

In [6]:
new_2019data_df.to_sql(name='clean_2019', con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql_query('select * from clean_2019', con=engine).head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,social_support,continent,population
0,Finland,1,7.769,1.34,None,0.986,0.596,0.153,0.393,1.587,Europe,5532.159
1,Denmark,2,7.6,1.383,None,0.996,0.592,0.252,0.41,1.573,Europe,5771.877
2,Norway,3,7.554,1.488,None,1.028,0.603,0.271,0.341,1.582,Europe,5378.859
3,Iceland,4,7.494,1.38,None,1.026,0.591,0.354,0.118,1.624,Europe,339.037
4,Netherlands,5,7.488,1.396,None,0.999,0.557,0.322,0.298,1.522,Europe,17097.123