In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
data2018_df = pd.read_csv(r"C:\Users\daric\Desktop\HAPPINESS\data_2018.csv", dtype=object, low_memory=False)

data2018_df.head()

   1      Finland  7.632  1.305  1.592  0.874  0.681  0.202  0.393
0  2       Norway  7.594  1.456  1.582  0.861  0.686  0.286   0.34
1  3      Denmark  7.555  1.351   1.59  0.868  0.683  0.284  0.408
2  4      Iceland  7.495  1.343  1.644  0.914  0.677  0.353  0.138
3  5  Switzerland  7.487   1.42  1.549  0.927   0.66  0.256  0.357
4  6  Netherlands  7.441  1.361  1.488  0.878  0.638  0.333  0.295

In [ ]:
new_2019data_df = data2019_df[['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita','social_support', 'life_expectancy',
                                   'freedom', 'generosity','government_corr']].copy()
new_2019data_df.head()

In [ ]:
rds_connection_string = "postgres:postgres@localhost:5432/World Happiness DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
new_2019data_df.to_sql(name='clean_2019', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from clean_2019', con=engine).head()